.hero,.footer{
    background: #1F2937;
    padding:0 70px;
}

.container .menu{
    display: flex;
    justify-content: space-between;
}

h1{
    font-size: 24px;
    color: #F9FAF8;
}

ul li{
    list-style: none;
    display: inline;
    padding: 18px;
    color: #E5E7EB;
    font-size: 18px;
}

h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.content{
    display: inline;
}
